{% extends 'base.html' %}

{% block title %}Wow!! Add a Book!! {% endblock %}

{% block content %}
<div class='mt-4 ms-4 w-50'>
    <form action="{{ url_for('crud.add_book', user_id=current_user.id) }}" method='POST'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            {{form.title.label}}
            {{form.title(class='form-control')}}
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock %}
