{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <div class='d-flex justify-content-center'>
                <img src='{{ book.image_link }}' class='ms-5 img-fluid mb-3' alt='{{ book.title }}' style='width: 100%; padding-top: 20px;'>
            </div>
        </div>
        <div class='col-md-8'>
            <div class='d-flex flex-column justify-content-center h-100'>
                <h1 class='text-center mt-3 mb-4'>{{ book.title }}</h1>
                <p class='text-center mb-0'><strong>Author:</strong> {{ book.author.name }}</p>
                <p class='text-center mb-0'><strong>Publication Year:</strong> {{ book.publication_year }}</p>
                {% if book.ratings %}
                {% set ratings_list = book.ratings|map(attribute='value')|list %}
                <p class='text-center mb-4'><strong>Average Rating:</strong> {{ ratings_list|average }}</p>
                {% else %}
                <p class='text-center mb-4'>No rating yet.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class='row mt-3'>
        <div class='col-md-12'>
            <p class='p-4'>{{ book.description }}</p>
        </div>
    </div>
</div>
{% endblock %}