{% extends 'base.html' %}

{% block title %} Book Details! {% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <div class='d-flex justify-content-center'>
                <img src='{{ book.image_link }}' class='ms-5 rounded img-fluid mb-3' alt='{{ book.title }}' style='width: 100%; padding-top: 20px;'>
            </div>
        </div>
        <div class='col-md-8'>
            <div class='d-flex flex-column justify-content-center h-100'>
                <h1 class='text-center mt-3 mb-4'>{{ book.title }}</h1>
                <p class='text-center mb-0'><strong>Author:</strong> {{ book.author.name }}</p>
                <p class='text-center mb-0'><strong>Publication Year:</strong> {{ book.publication_year }}</p>
                {% if book.ratings %}
                {% set ratings_list = book.ratings|map(attribute='value')|list %}
                <p class='text-center mb-4'><strong>Average Rating:</strong> {{ "%.2f" % ratings_list|average }}</p>
                {% else %}
                <p class='text-center mb-4'>No rating yet.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class='row mt-3'>
        <div class='col-md-12'>
            <p class='p-4'>{{ book.description }}</p>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="p-4 row">
        <div class="col-md-7">
            <div class="list-group">
                <h5>Comments!</h5>
                {% for comment in comments %}
                <div class="mt-3 rounded shadow-lg">
                    {% if comment.user_id == current_user.id %}
                    <a href="#" class="list-group-item list-group-item-action bg-secondary" data-bs-toggle="tooltip" data-bs-title="Edit your comment!!!"
                       data-bs-placement="top" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ comment.subject }}</h5>
                            <small>{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <p class="mb-1">{{ comment.comment_text}}</p>
                        <small>Posted By: {{ first_name }} {{ last_name[0]|capitalize }}.</small>
                    </a>
                    {% else %}
                    <a href="#" class="list-group-item list-group-item-action bg-secondary" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ comment.subject }}</h5>
                            <small>{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <p class="mb-1">{{ comment.comment_text}}</p>
                        <small>Posted By: {{ first_name }} {{ last_name[0]|capitalize }}.</small>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5">
            <h5 class="mb-4">Read this book? Leave a comment!</h5>
            <form action="{{ url_for('crud.book_details', book_id=book.id) }}" method="POST">
                <div class="mb-3">
                    {{form.subject.label}}
                    {{form.subject(class='form-control')}}
                </div>
                <div>
                    {{form.comment_text.label}}
                    {{form.comment_text(class='form-control custom-textarea', rows=6) }}
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="mt-4 btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
