{% extends 'base.html' %}

{% block title %} Edit Your Comment! {% endblock %}

{% block content %}
<div class="ms-5 col-md-5">
    <h5 class="mt-4 mb-4">Read this book? Leave a comment!</h5>
    <form action="{{ url_for('crud.edit_comment', comment_id=comment_id) }}" method="POST">
        <div class="mb-3">
            {{form.subject.label}}
            {{form.subject(class='form-control', value=comment.subject) }}
        </div>
        <div>
            {{form.comment_text.label}}
            {{form.comment_text(class='form-control custom-textarea', rows=6, value=comment.comment_text) }}
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="mt-4 btn btn-dark">Submit</button>
    </form>
</div>
{% endblock %}