{% extends 'base.html' %}

{% block title %} Login! {% endblock %}

{% block content %}
<div class="mt-5 container w-75">
    <form action="/auth/login" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name='email' type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}